<div class="card">
  <div class="card-header">
    Your Budgets
  </div>
  <div class="card-body">
    <div *ngIf="!budgets">
      No Budgets!
    </div>
    <div *ngIf="budgets">
      <div *ngFor="let budget of budgets">
        <div class="card">
          <div class="card-header">
            <label>Name: {{budget.name}}</label> 
          </div>
          <div class="card-body">
            
          </div>
          <div class="card-footer">
              <button class="btn btn-secondary" (click)="update(budget)"> Update </button>
              <button class="btn btn-secondary" (click)="delete(budget)"> Delete </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-md btn-outline-primary" (click)="addBudget()">Add Budget </button>
  </div>
</div>